@using BotManager.Core.Models
<MudItem xs="2">
    <MudPaper>
        <MudStack Class="p-2">
            <MudStack Row="true" Style="max-height: 5vh; height: 5vh;" Justify="Justify.SpaceEvenly"
                      AlignItems="AlignItems.Center">
                <img class="rounded-circle" width="64" src="@Info.ImageUri" alt="The bot image"/>
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h6">@Info.Name</MudText>
                    @if (Info.Online)
                    {
                        <div class="online-circle"></div>
                    }
                    else
                    {
                        <div class="offline-circle"></div>
                    }
                </MudStack>
            </MudStack>
            @if (Info.Online)
            {
                <MudDivider Light="true" FlexItem="false"/>
                <MudStack AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.body1">Active modules:</MudText>
                    @foreach (var module in Info.Modules)
                    {
                        <MudText Typo="Typo.body2">@module</MudText>
                    }
                </MudStack>
            }
        </MudStack>
    </MudPaper>
</MudItem>

@code {

    [Parameter]
    public required BotInfo Info { get; set; }

}