.online-circle{
    height: 1vh; 
    width: 1vh;
    content: "";
    border-radius: 50%;
    background: #26b050;
}

.offline-circle{
    height: 1vh;
    width: 1vh;
    content: "";
    border-radius: 50%;
    background: #b32121;
}