@using BotManager.Core.Models

<MudPaper Class="w-100">
    <MudStack Class="p-2 w-100" Row="true">
        <MudStack Row="true" Justify="Justify.FlexStart" Style="width: 15vw;"
                  AlignItems="AlignItems.Center">
            @if (Info.Online)
            {
                <img class="bot-image-circle" width="64" height="64" src="@Info.ImageUri" alt="bot profile image"/>
            }
            else
            {
                <div class="bot-image-circle" style="width: 64px !important; height:64px !important" width="64" height="64">Offline</div>
            }
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudText>@Info.Name</MudText>
                @if (Info.Online)
                {
                    <div class="circle online"></div>
                }
                else
                {
                    <div class="circle offline"></div>
                }
            </MudStack>
        </MudStack>
        <div class="divider"></div>
        @if (Info.Online)
        {
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudText Typo="Typo.body1">Active modules:</MudText>
                @foreach (var module in Info.Modules)
                {
                    <MudText Typo="Typo.body2">@module</MudText>
                }
            </MudStack>
        }
    </MudStack>
</MudPaper>

@code {

    [Parameter]
    public required BotInfo Info { get; set; }

}